body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.input {
  flex: 1;
  border: 1px solid #ddd;
  padding: 12px 20px;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border-color: #007bff;
}

.input-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 24px;
  margin-left: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 16px;
}

.input-container button:hover {
  background-color: #0056b3;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.event-list {
  margin-top: 20px;
  width: 100%;
}
.event-dot {
  width: 6px;
  height: 6px;
  background-color: #007bff;
  border-radius: 50%;
  margin: 2px auto;
}


.event-list h3 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}

.event-box {
  background-color: #e9f5ff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.event-box p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.react-calendar__tile {
  color: #333;
}

.react-calendar__tile--now {
  background: #007bff !important;
  color: #fff !important;
}

.react-calendar__tile--active {
  background: #0056b3 !important;
  color: #fff !important;
}

.react-calendar__tile--disabled {
  pointer-events: none;
  opacity: 0.4;
  color: #a0a0a0;
  background: #f0f0f0;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #a0a0a0;
}

.event-indicator {
  width: 8px;
  height: 8px;
  background-color: #ff0000;
  border-radius: 50%;
  margin: 2px auto;
}
  